<<<<<<< HEAD
body{
    background-color: black;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: 'retro' ;
    src: url(files/ABSTRACT.TTF);
=======
body{
    background-color: black;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: 'retro' ;
    src: url(files/ABSTRACT.TTF);
>>>>>>> a4c3208560fe1183b8c9d88caf151c6b8fb2796d
}